.advantages {
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
    border-bottom: 1px solid $special_border_color;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 20px;
  }
}

.advantages__title {
  margin: 0 0 42px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    margin: 0 0 32px 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 72px 0;
  }
}
