.advantages {
  margin-bottom: 53px;
}

.advantages__title {
  margin: 0 0 42px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic_black;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 90px;
  }

  .advantages__title {
    margin: 0 0 32px 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: $basic_black;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    margin-bottom: 90px;
  }

  .advantages__title {
    margin: 0 0 32px 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: $basic_black;
  }
}
