.catalog-list {
  padding: 0;
  margin-bottom: 25px;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 141px;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 143px;
    margin-bottom: 75px;
  }
}

.catalog-list__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $basic_light_grey;
    padding: 19px 20px 25px 20px;
  }

  @media (min-width: $tablet-width) {
    background: linear-gradient(0deg, $basic_grey 85%, $basic_white 15%);
    padding: 0 37px 39px 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 38px 40px 39px;
  }
}

.catalog-list__item-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    display: flex;
  }
}

.catalog-list__item-text {
  display: flex;
  flex-direction: column;
}

.catalog-list__item-title {
  margin: 0 0 14px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $eerie_black;
  width: 60%;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding: 34px 0 0 0;
    margin: 0 auto;
    padding-bottom: 14px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 42px 0 0 0;
    line-height: 21px;
    width: 80%;
  }
}

.catalog-list__item-description {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $special_grey;
  }
}

.catalog-list__item-description-text {
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin: 7px 0 9px 0;
  }
}

.catalog-list__item-more {
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $basic_light_grey;
    padding: 25px 20px;
  }

  @media (min-width: $tablet-width) {
    height: 407px;
    align-self: flex-end;
    border: 2px solid $special_border_color;
  }

  @media (min-width: $desktop-width) {
    height: 455px;
  }
}

.catalog-list__item-more-toogle {
  display: block;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (max-width: $mobile-width-only) {
    width: 30px;
    height: 30px;
    margin-bottom: 23px;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin: 31px 0 49px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 79px 0 49px 0;
  }
}

.catalog-list__item-more-icon {
  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.catalog-list__item-more-title {
  margin: 0 0 8px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_black;

  @media (min-width: $tablet-width) {
    margin: 0 0 23px 0;
    font-size: 20px;
    line-height: 22px;
    width: 60%;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 80%;
  }
}

.catalog-list__item-more-description {
  margin: 0 0 21px 0;
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin: 0 0 87px 0;
    font-size: 16px;
    line-height: 18px;
    width: 80%;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.catalog-list__item-img {
  @media (min-width: $tablet-width) {
    width: 161px;
    height: 172px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.catalog-list__item-img-user {
  width: 84px;
  height: 100px;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }
}

.catalog-list__item-btn {
  font-size: 16px;
  line-height: 20px;
  color: $basic_white;
  background: $basic_green;
  padding: 10px 0;

  &:hover {
    background: $basic_light_green;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.catalog-list__item-more-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-list__item-more-btn {
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey;
  background: $basic_grey;
  padding: 10px 0;

  @media (min-width: $tablet-width) {
    margin: 0 38px 38px 38px;
  }

  &:hover {
    background: $basic_light_grey;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.catalog-list__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
