.container-wrapper {
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .container-wrapper {
    margin: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container-wrapper {
    margin: 0 110px;
  }
}
