.container-wrapper {
  margin: 0 20px;
}

.example__container-wrapper {
  margin: 0 20px;
}

@media (min-width: $tablet-width) {
  .container-wrapper {
    margin: 0 30px;
  }

  .example__container-wrapper {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .container-wrapper {
    margin: 0 110px;
  }

  .example__container-wrapper {
    margin: 0;
  }
}
