.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #D9D9D9;
}

.copyright__link {
  font-family: $font-family-Arial;
font-size: 16px;
line-height: 18px;
text-decoration: none;
color: $special_dark-grey;
}
