.example {
  display: flex;
  flex-direction: column;
  background-color: $grey;
}

.example__title {
  padding-top: 25px;
  margin: 0 0 40px 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic_black;
}

.example__description {
  margin: 0 0 20px 0;
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.example__information {
  display: flex;
  margin-bottom: 24px;
}

.example-information__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin:0 0 40px 0;
}
.example__cost {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black;
}

.example__img {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .example {
    background: none;
  }

  .example__title {
    padding: 0;
    margin: 0 0 63px 0;
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    margin: 0 0 54px 0;
    font-size: 16px;
    line-height: 24px;
  }

  .example-information__wrapper {
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 80px;
  }

  .example__information {
    width: 50%;
    margin: 0 167px 0 0;
  }

  .example__cost {
    margin-bottom: 0;
  }

  .example__first-field {
    margin-right: 42px;
  }

  .example-img__wrapper {
    display: flex;
    flex-direction: column;
    background: $basic_grey;
  }

  .example__img {
    margin-bottom: 29px;
  }
}

@media (min-width: $desktop-width) {

  .example__description {
    margin: 0 0 69px 0;
  }

  .example-description__wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 194px;
  }

  .example-information__wrapper {
    flex-direction: column;
    justify-content: space-between;
    margin:0;
  }

  .example__information {
    margin: 0 0 60px 0;
  }

  .example__wrapper {
    display: flex;
    flex-direction: row;
    background: $basic_grey;
  }
}
