.example {
  display: flex;
  flex-direction: column;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.example__title {
  padding-top: 25px;
  margin: 0 0 40px 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 0 63px 30px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 40px 0 146px 0;
  }
}

.example__description {
  margin: 0 0 20px 0;
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin: 0 30px 54px 30px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 69px 0;
  }
}

.example__information {
  display: flex;
  margin-bottom: 34px;
  column-gap: 11%;

  @media (min-width: $tablet-width) {
    margin: 0 167px 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin: 0 0 60px 0;
  }
}

.example__label {
  position: relative;
  display: flex;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    width: 50%;
  }
}

.example__field {
  padding: 0;
  display: block;
  width: 100%;
  height: 56px;
  background: transparent;
  border: 1px solid $special_grey;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 72px;
  }
}

.example__field::placeholder {
  font-family: $font-family-Oswald;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    background: $basic_white;
  }

  @media (min-width: $desktop-width) {
    background: $basic_grey;
  }
}

.example__text {
  display: block;
  position: absolute;
  font-family: $font-family-Arial;
  font-size: 12px;
  width: 81px;
  line-height: 100%;
  color: $special_dark-grey;
  background: $grey;
  text-align: center;
  z-index: 2;
  top: 53px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 142px;
    top: 66px;
    background: $basic_white;
  }

  @media (min-width: $desktop-width) {
    background: $basic_grey;
  }
}

.example-information__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row;
    margin: 0 30px 80px 0;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }
}

.example__cost {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    text-align: end;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    width: 100%;
  }
}

.example__img {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    width: 591px;
    height: 576px;
    margin-bottom: 29px;
  }
}

.example-img__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    background: $basic_grey;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, $grey 75%, $basic_white 25%);
  }

  @media (min-width: $desktop-width) {
    background: transparent;
  }
}

.example-picture__wrapper {
  display: flex;
  justify-content: center;
}

.example-description__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-right: 194px;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(0deg, $basic_grey 75%, $basic_white 25%);
    padding: 0 0 75px 110px;
  }
}
