.example {
  display: flex;
  flex-direction: column;
  background-color: $grey;
}

.example__title {
  padding-top: 25px;
  margin: 0 0 40px 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $basic_black;
}

.example__description {
  margin: 0 0 20px 0;
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
}

.example__information {
  display: flex;
  margin-bottom: 24px;
}

.example__cost {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black;
}

.example__img {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {

  .example {
    display: flex;
    flex-direction: column;
    background:none;
  }

  .example__title {
    padding:0;
    margin: 0 0 63px 0;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: $basic_black;
  }

  .example__description {
    margin: 0 0 54px 0;
    font-family: $font-family-Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $special_dark-grey;
  }

  .example__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
  }

  .example__first-field {
    margin-right: 42px;
  }
}
