.footer-contacts {
  display: flex;
  flex-direction: column;
  background-color: $basic_grey;
}

.footer-contacts__logo {
  display: block;
  width: 128px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .footer-contacts {
    flex-direction: row;
    justify-content: space-between;
  }

}
