.footer-location__text {
  margin: 26px 0;
  display: flex;
}

.footer-location__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_black;
}

.footer-location__description {
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}

.footer-location__map {
  width: 320px;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .footer-location__text {
    margin: 59px 0 56px 0;
    display: flex;
    justify-content: space-between;
  }

  .footer-location__title {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    color: $special_black;
  }

  .footer-location__description {
    font-family: $font-family-Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $special_dark-grey;
  }

  .footer-location__map {
    width: 760px;
    height: 400px;
  }
}
