.footer-contacts {
  margin: 39px 0 22px 0;
  display: flex;
  flex-direction: column;
  background-color: $basic_grey;
}

.footer-contacts__logo {
  display: block;
  width: 128px;
  height: 24px;
}


@media (min-width: $tablet-width) {

  .footer-contacts {
    margin: 58px 0 55px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-contacts__logo {

      display: block;
      width: 128px;
      height: 24px;
  }


}
