.footer-contacts {
  display: flex;
  flex-direction: column;
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
    }
}

.footer-contacts__logo {
  margin: 39px 0 32px 0;
  display: block;
  width: 128px;
  height: 24px;
}

