.footer-location__text {
  display: flex;
}

.footer-location__title {
  margin: 26px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_black;
}

.footer-location__description {
  margin: 26px 0;
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
}

.footer-location__map {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .footer-location__text {
    justify-content: space-between;
  }

  .footer-location__title {
    font-size: 20px;
    line-height: 26px;
  }

  .footer-location__description {
    font-size: 16px;
    line-height: 20px;
  }

  .footer-location__map {
    height: 400px;
  }

}

@media (min-width: $desktop-width) {
  .footer-location__text {
    top: 95px;
    left: 110px;
    width: 565px;
    height: 198px;
    position: absolute;
    margin: 0;
    background: $basic_white;

}

.footer-location {
position: relative;
}

.footer-location__map {
  height: 400px;
}
}
