.form-optionally {
  border: none;
  display: flex;
  padding: 0;
  margin: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 54px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 61px 0;
  }
}

.form-optionally__title {
  margin: 0 0 34px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    margin: 0 0 57px 0;
    font-size: 36px;
    line-height: 36px;
  }
}
