.form-program-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    row-gap: 18px;
    margin-left: 28px;
  }
}

.form-program-list__item {
  height: 30px;
}

.form-program-list__item-control {
  position: relative;
  padding-left: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $eerie_black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-program-list__item-control-mark {
  position: absolute;
    top: -1px;
    left: 0;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid $special_grey;
}

.form-program-list__item-input[type="radio"]:checked + .form-program-list__item-control-mark::after {
  position: absolute;
  background-image: url("/img/radiobutton-checked.svg");
  background-repeat: no-repeat;
  top: 7px;
  left: 8px;
  width: 14px;
  height: 14px;
  content: "";
}
