.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin: 27px 0 37px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $basic_black;
}

.form__description {
  margin: 0 0 39px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic_black;
}

.form__btn {
  margin-bottom: 21px;
}

.form_text {
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $basic_black;
  margin-bottom: 32px;
}

@media (min-width: $tablet-width) {
  .form {
   margin-bottom: 72px;
  }

  .form__title {
    margin: 75px 0 54px 0;
    font-size: 60px;
    line-height: 60px;
  }

  .form__description {
    margin: 0 0 66px 0;
    font-size: 20px;
    line-height: 30px;
  }

  .form-container {
    display: flex;
  }

  .form__btn {
    margin: 0 61px 0 0;
  }

  .form_text {
    line-height: 16px;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {

  .form {
    margin-bottom: 82px;
   }

   .form__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    margin: 0 0 49px 0;
   }

  .form__title {
    margin: 73px 0 189px 0;
  }

  .form__btn {
    margin: 0 81px 0 0;
  }

  .form_text {
    line-height: 16px;
    margin-bottom: 0;
  }
}
