.form-program-list {
  margin: 0 0 26px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.form-program-list__item {
  margin-bottom: 25px;
}

.form-program-list__item-control {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $eerie_black;
}
