.form-profile {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0 0 24px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form-profile__field {
  display: flex;
  margin-bottom: 14px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-profile__label {
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  white-space: nowrap;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-profile__input {
  padding: 5px 0 0 16px;
  width: 100%;
  height: 38px;
  border: 1px solid $special_light_grey;

  @media (min-width: $tablet-width) {
    height: 43px;
    padding: 7px 0 0 19px;
  }

  &:hover {
    border: 1px solid $special_grey;
  }

  &:focus {
    outline: none;
    border: 2px solid $special_dark-grey;
  }

  &:focus:invalid {
    outline: none;
    border: 2px solid $status_error;
  }

}

.form-profile__input::placeholder {
  text-align: start;
  font-family: $font-family-Oswald;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
