.form-optionally {
  border: none;
  display: flex;
  padding: 0;
}

  .form-optionally__title {
    margin: 0 0 34px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: $basic_black;
  }


