.form-profile {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0 0 24px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 72px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form-profile__field {
  display: flex;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form-profile__label {
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
