.form-contacts {
  padding: 0;
  margin: 0 0 22px 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.form-contacts__title {
  margin: 0 0 35px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $basic_black;
}

.form-contacts__field {
  margin-bottom: 14px;
  display: flex;
}

.form-contacts__label {
  margin-right: 11px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
}
