.form-optionally-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form-optionally-list__item {
  margin-bottom: 13px;
}

.form-optionally-list__item-control {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic_black;
}

@media (min-width: $tablet-width) {

  .form-optionally-list {
display: grid;
grid-template-columns: repeat(2, 1fr);
row-gap: 32px;
column-gap: 124px;
width: 100%;
  }

  .form-optionally-list__item {
    margin-bottom: 0;
  }

  .form-optionally-list__item-control {
    font-size: 20px;
    line-height: 30px;
}
}

@media (min-width: $desktop-width) {

  .form-optionally-list {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
      }

      .form-optionally-list__item {
        max-width: 250px;
      }
}
