.form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.form-comment__title {
  margin: 0 0 47px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $basic_black;
}

@media (min-width: $tablet-width) {
  .form-comment {
    margin-bottom: 65px;
  }

  .form-comment__title {
    margin: 0 0 76px 0;
    font-size: 36px;
    line-height: 36px;
  }
}
