.form-program-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.form-program-list__item {
  margin-bottom: 13px;
}

.form-program-list__item-control {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $eerie_black;
}

@media (min-width: $tablet-width) {

  .form-program-list__item-control {
    font-size: 20px;
    line-height: 30px;
  }
}
