.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__link-first {
  display: block;
  width: 33px;
  height: 37px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__link-secondary {
  display: block;
  width: 101px;
  height: 19px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
