.main-promo {
  position: relative;
  padding: 58px 0 0 0;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 60px 0;
    margin-bottom: 76px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 0 0;
    margin-bottom: 0;
    flex-direction: column;
  }
}

.main-promo::before {
  position: absolute;
  content: "";
  background: url("/img/promo-img.jpg") no-repeat center/100% auto;
  height: 100%;
  width: 100%;
  z-index: -1;

  @media (min-width: $tablet-width) {
    background: url("/img/promo-img-tablet.jpg") no-repeat center/100% auto;
  }
  @media (min-width: $desktop-width) {
    background: url("/img/promo-img-desktop.jpg") no-repeat center/100% auto;
  }
}

.main-promo::after {
  position: absolute;
  content: "";
  background: rgba(104, 183, 56, 0.85) no-repeat center/100% auto;
height: 100%;
  width: 100%;
  z-index: -1;
}

.main-promo__img {
  margin: 0 0 48px 0;

  @media (min-width: $tablet-width) {
    margin: 0 265px 0 77px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 46px 0;
  }
}

.main-promo__description {
  font-family: $font-family-Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $basic_white;
  margin: 0 0 43px 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 42px 0;
  }
}
