.main-nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .main-nav-list__item-link {
    display: block;
    padding: 22px 0;
    font-family: $font-family-Oswald;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: $basic_black;
    text-decoration: none;
  }
