.main-container-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;

  @media (min-width: $tablet-width) {
    background: none;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    height: 664px;
    background: url("/img/product-desktop.svg") top right 330px no-repeat;
  }
}

.main-container-header::before {
  position: absolute;
  content: "";
  background: url("/img/background-photo.jpg") no-repeat top/100% auto;
  height: 100%;
  width: 100%;
  z-index: -1;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    background: url("/img/index-background-desktop.jpg") no-repeat right;
    top: -115px;
  }
}

.main-container-header::after {
  position: absolute;
  content: "";
  background: rgba(104, 183, 56, 0.85);
  background-size: 100% auto;
  min-height: 65%;
  width: 100%;
  z-index: -1;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-container-header__title {
  padding-top: 27px;
  margin: 0 0 25px 0;
  color: $basic_white;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    margin: 0 0 41px 117px;
    color: $basic_black;
    font-size: 60px;
    line-height: 60px;
    text-align:start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 111px;
    margin: 0 0 41px 190px;
  }
}

.main-container-header__description {
  margin: 0 0 29px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic_white;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px 119px;
    font-size: 20px;
    line-height: 20px;
    color: $basic_black;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 52px 190px;
  }
}

.main-container-header__btn {
  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    z-index: 2;
    top: 370px;
    left: 120px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 190px;
    position:static;
}
}

.main-container-header__img {
  margin: auto;

  @media (min-width: $desktop-width) {
    display: none;
  }
}
