.main-nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
  }
}
