.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav-list__item-link {
  display: block;
  padding: 22px 0;
  font-family: "Oswald Medium";
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
