.main-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav-list__item-link {
  display: block;
  padding: 22px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic_black;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .main-nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    width: 440px;
    justify-content: space-between;
  }

  .main-nav-list__item-link {
    display: block;
    padding: 8px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: $basic_black;
    text-decoration: none;
  }
}
