.main-header {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-top: 53px;
  }
}
