.main-header-container {
  background: url("../img/Rectangle 18.png") no-repeat,
    url("../img/background-header.jpg") no-repeat;
}

.main-header-container__title {
  padding-top: 27px;
  margin: 0 0 25px 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-header-container__description {
  margin: 0 0 29px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
