.main-container-header {
  background: url("../img/background-color.png") no-repeat,
    url("../img/background-photo.jpg") no-repeat;
  display: flex;
  flex-direction: column;
}

.main-container-header__title {
  padding-top: 27px;
  margin: 0 0 25px 0;
  color: $basic_white;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-container-header__description {
  margin: 0 0 29px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $basic_white;
}
