.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__link-first {
  display: block;
  width: 33px;
  height: 37px;
  background: url("/img/logo-mobile-picture.svg") no-repeat;
}

.main-header__link-secondary {
  display: block;
  width: 101px;
  height: 19px;
  background: url("/img/logo-mobile-name.svg") no-repeat;
}

@media (min-width: $tablet-width) {
  .main-header__link-first {
    margin: 0;
    width: 174px;
    height: 52px;
    background: url("/img/tablet-logo.svg") no-repeat;
  }

  .main-header__link-secondary {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header__link-first {
    width: 202px;
    height: 59px;
    background: url("/img/logo-desktop.svg") no-repeat;
  }

}
