.optional-list {
  margin: 0 0 54px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 32px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin: 0 0 97px 0;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 80px 0 0;
    row-gap: 0;
  }
}

.optional-list__item {
  display: flex;
  flex-direction: column;
  column-gap: 32px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.optional-list__item-title {
  margin: 0 0 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $eerie_black;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.optional-list__item-description {
  display: flex;
  margin-bottom: 15px;
}

.optional-list__item-description-text {
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.optional-list__container {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 25px;
  }
}
