.optional-list {
  margin: 0 0 54px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.optional-list__item {
  display: flex;
  flex-direction: column;
}

.optional-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.optional-list__item-title {
  margin: 0 0 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $eerie_black;
}

.optional-list__item-description {
  display: flex;
  margin-bottom: 15px;
}

.optional-list__item-description-text {
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
}

@media (min-width: $tablet-width) {

  .optional-list {
    margin: 0 0 97px 0;
  }

  .optional-list__item:not(:last-child) {
    margin-bottom: 54px;
  }

  .optional-list__item-title {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .optional-list__item-description {
    display: flex;
  }

  .optional-list__container {
    display: flex;
    margin-bottom: 25px;
  }

  .optional-list__item-description-text {
    font-size: 16px;
line-height: 20px;
  }
}

@media (min-width: $desktop-width) {

  .optional-list {
    margin: 0 80px 0 0;
  }

  .optional-list__item:not(:last-child) {
    margin-bottom: 0;
  }

  .optional-list__item {
    flex-direction: row;
  }

  .optional-list__item-title {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .optional-list__item-description {
    display: flex;
  }

  .optional-list__container {
    display: flex;
    margin-bottom: 25px;
  }

  .optional-list__item-description-text {
    font-size: 16px;
line-height: 20px;
  }
}
