.optional {
  position: relative;
}

.optional__title {
  margin: 0;
  background: $basic_white;
  display: inline-block;
  padding: 0 22px 0 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    margin-left: 37px;
    padding: 0 38px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    padding: 0 35px 0 40px;
  }
}

.optional-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    margin-bottom: 86px;
    column-gap: 80px;
  }
}

.optional__line {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 80px;
  }
}
