.page-body {
  height: 100%;
  font-size: 18px;
  font-family: $font-family-Oswald, $font-family-Arial, sans-serif;
}

@media (min-width: $desktop-width) {
  .page-body {
    background: url("/img/color-background-desktop.png") right top no-repeat,
      url("/img/index-background-desktop.jpg") right top no-repeat;
  }
}
