.program-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.program-list__item {

  padding: 20px 33px 22px 20px;
  display: block;
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
    padding: 77px 62px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 51px 59px 52px;
  }
}

.program-list__item-title {
  margin: 0 0 29px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 0;
  }
}

.program-list__item-description {
  position: relative;
  margin: 0 0 42px 0;
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin: 0 0 52px 0;
    font-size: 16px;
    line-height: 24px;
    color: $basic_black;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 27px 0;
  }
}

.program-list__item-description::before {

  @media (max-width: $mobile-width-only) {
    content: '';
    position: absolute;
  width: 100%;;
  border: 1px solid $program-line-color;
  bottom: -23px;
  }
}

.program-list__item-button {
  display: block;
  font-size: 16px;
line-height: 16px;
color: $basic_black;
width: 132px;
text-align: start;
background:url("/img/arrow.svg") top 2px right 8px no-repeat ;

&:hover {
  background:url("/img/long-arrow.svg") top 2px right no-repeat ;
}

&:active {
  opacity: 0.5;;
}

@media (min-width: $tablet-width) {
  font-size: 20px;
line-height: 30px;
width: 165px;
background-position: top 9px right 8px;

&:hover {
  background:url("/img/long-arrow.svg") top 9px right no-repeat ;
}

}

@media (min-width: $desktop-width) {
  width: 168px;
}
}
