.program-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }
}

.program-list__item {
  display: block;
  background-color: $basic_grey;
}

.program-list__item-title {
  margin: 0 0 29px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $basic_black;

  @media (min-width: $tablet-width) {
    margin: 0 0 24px 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 0;
  }
}

.program-list__item-description {
  margin: 0 0 42px 0;
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    margin: 0 0 52px 0;
    font-size: 16px;
    line-height: 24px;
    color: $basic_black;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 27px 0;
  }
}
