.range {
  display: flex;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 61px;
  }
}

.range__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
