.range {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }
}

.range__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    border-bottom: 1px dashed $special_grey;

    &:hover {
      border-bottom: 1px solid $basic_black;
    }

    &:active {
      border-bottom: none;
    }
  }
}

.range__scale {
  position: relative;

  @media (max-width: $mobile-width-only) {
    margin: 0 13px;
    width: 30%;
    height: 14px;
    background: $basic_white;
    border: 1px solid $special_grey;
    border-radius: 6px;
  }

  @media (min-width: $tablet-width) {
    width: 55%;
    margin: 0 23px;
    height: 6px;
    background: $special_grey;
    border-radius: 6px;
  }
}

.range__scale-bar {
  position: absolute;
  cursor: pointer;

  @media (max-width: $mobile-width-only) {
    width: 46%;
    height: 6px;
    background: $basic_green;
    border: 1px solid $special_grey;
    border-radius: 6px;
    top: 3px;
    left: 3px;
  }

  &:active {
    border: 1px solid $basic_green;
  }

  @media (min-width: $tablet-width) {
    height: 34px;
    width: 34px;
    right: 45%;
    top: -16px;
    background: $basic_white;
    border-radius: 18px;
    border: 1px solid $special_grey;
  }
}

.range__scale-bar::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;
    content: "";
    height: 8px;
    width: 8px;
    right: 13px;
    top: 13px;
    background: $basic_green;
    border-radius: 4px;
  }
}
