.range {
  display: flex;
  margin-bottom: 40px;
}

.range__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {

  .range {
    display: flex;
    margin-bottom: 61px;
  }

  .range__text {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
