.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  }

.social-list__item-link {
  display: block;
  width: 30px;
  height: 30px;
}

  .footer-contacts__wrapper {
   @media (min-width: $tablet-width) {
    display: flex;
  }
}
