@charset "UTF-8";
/* Глобальные Файлы */
@font-face {
  font-family: "Oswald Medium";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/oswaldmedium.woff2") format("woff2"), url("/fonts/oswaldmedium.woff") format("woff");
}
@font-face {
  font-family: "Oswald Regular";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/oswaldregular.woff2") format("woff2"), url("/fonts/oswaldregular.woff") format("woff");
}
/* Colors */
/* Viewports */
.page-body {
  margin: 0;
  height: 100%;
  font-size: 18px;
  font-family: "Oswald Regular", "Arial", sans-serif;
}

@media (min-width: 1200px) {
  .page-body {
    background: url("/img/color-background-desktop.png") right top no-repeat, url("/img/index-background-desktop.jpg") right top no-repeat;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container-wrapper {
  margin: 0 20px;
}

.example__container-wrapper {
  margin: 0 20px;
}

@media (min-width: 768px) {
  .container-wrapper {
    margin: 0 30px;
  }

  .example__container-wrapper {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .container-wrapper {
    margin: 0 110px;
  }

  .example__container-wrapper {
    margin: 0;
  }
}
/* Файлы для Header */
.main-header {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-header {
    margin-top: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-header {
    margin-top: 53px;
  }
}
.main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__link-first {
  display: block;
  width: 33px;
  height: 37px;
  background: url("/img/logo-mobile-picture.svg") no-repeat;
}

.main-header__link-secondary {
  display: block;
  width: 101px;
  height: 19px;
  background: url("/img/logo-mobile-name.svg") no-repeat;
}

@media (min-width: 768px) {
  .main-header__link-first {
    margin: 0;
    width: 174px;
    height: 52px;
    background: url("/img/tablet-logo.svg") no-repeat;
  }

  .main-header__link-secondary {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-header__link-first {
    width: 202px;
    height: 59px;
    background: url("/img/logo-desktop.svg") no-repeat;
  }
}
.main-nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
  }
}
.main-nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav-list__item-link {
  display: block;
  padding: 22px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

@media (min-width: 768px) {
  .main-nav-list {
    display: flex;
    min-width: 440px;
    justify-content: space-between;
  }

  .main-nav-list__item-link {
    padding: 8px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .main-nav-list {
    min-width: 478px;
  }

  .main-nav-list__item-link {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
}
.main-container-header {
  background: url("/img/background-color.png") no-repeat, url("/img/background-photo.jpg") no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.main-container-header__title {
  padding-top: 27px;
  margin: 0 0 25px 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.main-container-header__description {
  margin: 0 0 29px 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.main-container-header__img {
  margin: auto;
}

@media (min-width: 768px) {
  .main-container-header {
    background: none;
  }

  .main-container-header__title {
    padding-top: 62px;
    margin: 0 0 41px 0;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }

  .main-container-header__description {
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }

  .main-container-header__btn {
    display: block;
    position: absolute;
    z-index: 2;
    top: 370px;
    left: 120px;
  }
}
@media (min-width: 1200px) {
  .main-container-header {
    height: 664px;
    background: url("/img/product-desktop.svg") top right 330px no-repeat;
  }

  .main-container-header__title {
    padding-top: 111px;
  }

  .main-container-header__description {
    margin: 0 0 52px 0;
  }

  .main-container-header__img {
    display: none;
  }
}
/* Файлы Главной страницы */
.advantages {
  margin-bottom: 53px;
}

.advantages__title {
  margin: 0 0 42px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

@media (min-width: 768px) {
  .advantages {
    margin-bottom: 90px;
  }

  .advantages__title {
    margin: 0 0 32px 0;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1200px) {
  .advantages {
    margin-bottom: 69px;
  }

  .advantages__title {
    margin: 0 0 72px 0;
  }
}
.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.advantages-list__item {
  display: flex;
}

.advantages-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.advantages-list__item-description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

@media (min-width: 768px) {
  .advantages-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 154px;
    row-gap: 37px;
  }

  .advantages-list__item:not(:last-child) {
    margin-bottom: 0;
  }

  .advantages-list__item {
    flex-direction: column;
    min-height: 280px;
  }

  .advantages-list__item:first-child {
    background: url("/img/advantages-item-first-number.svg") top right 40px no-repeat;
  }

  .advantages-list__item:nth-child(3n+2) {
    background: url("/img/advantages-item-second-number.svg") top right 5px no-repeat;
  }

  .advantages-list__item:nth-child(3n) {
    background: url("/img/advantages-item-third-number.svg") top right 5px no-repeat;
  }

  .advantages-list__item:nth-child(4n) {
    background: url("/img/advantages-item-fourth-number.svg") top right 5px no-repeat;
  }

  .advantages-list__item-description {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .advantages-list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 94px;
  }

  .advantages-list__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.program {
  display: flex;
}

@media (min-width: 1200px) {
  .program {
    margin-bottom: 80px;
  }
}
.program-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.program-list__item {
  display: block;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}

.program-list__item-title {
  margin: 0 0 29px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.program-list__item-description {
  margin: 0 0 42px 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

@media (min-width: 768px) {
  .program-list__item:last-child {
    margin-bottom: 45px;
  }

  .program-list__item {
    margin-bottom: 30px;
  }

  .program-list__item-title {
    margin: 0 0 24px 0;
    font-size: 36px;
    line-height: 36px;
  }

  .program-list__item-description {
    margin: 0 0 52px 0;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}
@media (min-width: 1200px) {
  .program-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
  }

  .program-list__item {
    margin: 0;
  }

  .program-list__item:last-child {
    margin-bottom: 0;
  }

  .program-list__item-title {
    margin: 0 0 73px 0;
  }

  .program-list__item-description {
    margin: 0 0 27px 0;
  }
}
.example {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
}

.example__title {
  padding-top: 25px;
  margin: 0 0 40px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

.example__description {
  margin: 0 0 20px 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__information {
  display: flex;
  margin-bottom: 24px;
}

.example__label {
  width: 50%;
}

.example-information__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 40px 0;
}

.example__cost {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.example__img {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .example {
    background: none;
  }

  .example__title {
    padding: 0;
    margin: 0 0 63px 30px;
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    margin: 0 30px 54px 30px;
    font-size: 16px;
    line-height: 24px;
  }

  .example-information__wrapper {
    justify-content: space-between;
    flex-direction: row;
    margin: 0 30px 80px 0;
  }

  .example__information {
    width: 50%;
    margin: 0 167px 0 0;
  }

  .example__cost {
    margin-bottom: 0;
  }

  .example__first-field {
    margin-right: 42px;
  }

  .example-img__wrapper {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
  }

  .example__img {
    margin-bottom: 29px;
  }
}
@media (min-width: 1200px) {
  .example__title {
    margin: 0 0 76px 110px;
  }

  .example__description {
    margin: 0 0 69px 110px;
  }

  .example-description__wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 194px;
  }

  .example-information__wrapper {
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 110px;
  }

  .example__information {
    margin: 0 0 60px 0;
  }

  .example__wrapper {
    display: flex;
    flex-direction: row;
    background: #f2f2f2;
  }
}
.range {
  display: flex;
  margin-bottom: 40px;
}

.range__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .range {
    display: flex;
    margin-bottom: 61px;
  }

  .range__text {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
/* Файлы Страницы каталога */
.catalog__title {
  margin: 27px 0 41px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalog-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.catalog-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 11px;
}

.catalog-list__item-container {
  width: 112px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  margin-bottom: 13px;
}

.catalog-list__item-text {
  display: flex;
  flex-direction: column;
}

.catalog-list__item-title {
  margin: 0 64px 14px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #222222;
}

.catalog-list__item-description {
  display: flex;
}

.catalog-list__item-description-text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.catalog-list__item-more {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.catalog-list__item-more-title {
  margin: 78px 0 8px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.catalog-list__item-more-description {
  margin: 0 0 21px 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.optional__title {
  margin: 0 0 49px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.optional-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.optional-list__item {
  margin-bottom: 31px;
  display: flex;
  flex-direction: column;
}

.optional-list__item-title {
  margin: 0 0 13px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.optional-list__item-description {
  display: flex;
  margin-bottom: 15px;
}

.optional-list__item-description-text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.main-promo {
  padding-top: 58px;
  margin-bottom: 35px;
  background: url("/img/promo-back.png") no-repeat, url("/img/promo-img.jpg") no-repeat;
  display: flex;
  flex-direction: column;
}

.main-promo__img {
  margin-bottom: 48px;
}

.main-promo__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0 0 43px 0;
}

/* Файлы Страницы с формой */
.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin: 27px 0 37px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.form__description {
  margin: 0 0 39px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.form__btn {
  margin-bottom: 21px;
}

.form_text {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-bottom: 32px;
}

.form-profile {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0 0 24px 0;
}

.form-profile__field {
  display: flex;
  margin-bottom: 14px;
}

.form-profile__label {
  margin-right: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form-program {
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.form-program-list {
  margin: 0 0 26px 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.form-program-list__item {
  margin-bottom: 25px;
}

.form-program-list__item-control {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.form-contacts {
  padding: 0;
  margin: 0 0 22px 0;
  border: none;
  display: flex;
  flex-direction: column;
}

.form-contacts__title {
  margin: 0 0 35px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form-contacts__field {
  margin-bottom: 14px;
  display: flex;
}

.form-contacts__label {
  margin-right: 11px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.form-comment__title {
  margin: 0 0 47px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form-optionally {
  border: none;
  display: flex;
  padding: 0;
}

.form-optionally__title {
  margin: 0 0 34px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.form-optionally-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 34px 0;
}

.form-optionally-list__item {
  margin-bottom: 13px;
}

.form-optionally-list__item-control {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}

/* Файлы для Footer */
.main-footer {
  display: flex;
  flex-direction: column;
}

.footer-location__text {
  display: flex;
}

.footer-location__title {
  margin: 26px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.footer-location__description {
  margin: 26px 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.footer-location__map {
  width: 100%;
}

@media (min-width: 768px) {
  .footer-location__text {
    justify-content: space-between;
  }

  .footer-location__title {
    font-size: 20px;
    line-height: 26px;
  }

  .footer-location__description {
    font-size: 16px;
    line-height: 20px;
  }

  .footer-location__map {
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .footer-location__text {
    top: 95px;
    left: 110px;
    width: 565px;
    height: 198px;
    position: absolute;
    margin: 0;
    background: #ffffff;
  }

  .footer-location {
    position: relative;
  }

  .footer-location__map {
    height: 400px;
  }
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.footer-contacts__logo {
  margin: 39px 0 32px 0;
  display: block;
  width: 128px;
  height: 24px;
}

@media (min-width: 768px) {
  .footer-contacts {
    flex-direction: row;
    justify-content: space-between;
  }
}
.sociall-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.sociall-list__item-link {
  display: block;
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) {
  .footer-contacts__wrapper {
    display: flex;
  }

  .sociall-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  .sociall-list__item-link {
    display: block;
    width: 30px;
    height: 30px;
  }
}
.copyright {
  display: flex;
  flex-direction: column;
}
/*# sourceMappingURL=style.css.map */