.line {
  position: relative;
}

.line::before {
  position: absolute;
  content: "";
  height: 2px;
  background: $basic_green;
  width: 100%;
  z-index: -1;
  top: 50%;
}

.line__container {
  max-width: 1400px;
  margin: 0 auto;
}
