// Начните писать стили здесь
@import "./global/fonts.scss";
@import "./global/colors.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-container-header.scss";
@import "./blocks/advantages.scss";
@import "./blocks/program.scss";
@import "./blocks/example.scss";
@import "./blocks/main-footer.scss";
@import "./catalog-blocks/catalog.scss";
@import "./catalog-blocks/optional.scss";

.page__body {
  height: 100%;
  font-size: 18px;
  font-family: $font-family-Oswald, $font-family-Arial, sans-serif;
  line-height: 27px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
