/* Глобальные Файлы */
@import "./global/fonts.scss";
@import "./global/variables.scss";
@import "./blocks/page-body.scss";
@import "./blocks/visually-hidden.scss";

/* Файлы для Header */
@import "./blocks/main-header.scss";
@import "./blocks/main-header-wrapper.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-nav-list.scss";
@import "./blocks/main-container-header.scss";

/* Файлы Главной страницы */
@import "./blocks/advantages.scss";
@import "./blocks/advantages-list.scss";
@import "./blocks/program.scss";
@import "./blocks/program-list.scss";
@import "./blocks/example.scss";
@import "./blocks/range.scss";

/* Файлы Страницы каталога */
@import "./blocks/catalog.scss";
@import "./blocks/catalog-list.scss";
@import "./blocks/optional.scss";
@import "./blocks/optional-list.scss";
@import "./blocks/main-promo.scss";

/* Файлы Страницы с формой */
@import "./blocks/form.scss";
@import "./blocks/form-profile.scss";
@import "./blocks/form-program.scss";
@import "./blocks/form-program-list.scss";
@import "./blocks/form-contacts.scss";
@import "./blocks/form-comment.scss";
@import "./blocks/form-optionally.scss";
@import "./blocks/form-optionally-list.scss";

/* Файлы для Footer */
@import "./blocks/main-footer.scss";
@import "./blocks/footer-location.scss";
@import "./blocks/footer-contacts.scss";
@import "./blocks/social-list.scss";
@import "./blocks/copyright.scss";





