// Начните писать стили здесь
@import "./fonts.scss";
@import "./blocks/main-header.scss";
@import "./blocks/main-header-wrapper.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/main-header-container.scss";
@import "./blocks/advantages.scss";
@import "./blocks/program.scss";

body {
  height: 100%;
  font-size: 18px;
  font-family: "Oswald Regular", "Oswald Medium", Arial, sans-serif;
  line-height: 27px;
}
