.catalog__title {
  margin: 27px 0 41px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.catalog-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  .catalog-list__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 11px;
  }

  .catalog-list__item-container {
    width: 112px;
    display: grid;
    grid-template-columns: repeat(2, 140px);
    margin-bottom: 13px;
  }

  .catalog-list__item-text {
    display: flex;
    flex-direction: column;
  }

  .catalog-list__item-title {
    margin: 0 64px 14px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $basic_black-3;
  }

  .catalog-list__item-description {
    display: flex;
  }

  .item-description__text {
    font-family: $font-family-Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $special_dark-grey;
  }
}

.catalog-list__item-more {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;

  .catalog-list__item-more__title {
    margin: 78px 0 8px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $basic_black-2;
  }

  .catalog-list__item-more__description {
    margin: 0 0 21px 0;
    font-family: $font-family-Arial;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $special_dark-grey;
  }
}
