.optional__title {
  margin: 0 0 49px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $basic_black;
}

.optional-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  .optional-list__item {
    margin-bottom: 31px;
    display: flex;
    flex-direction: column;
  }

  .optional-list__item-title {
    margin: 0 0 13px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $basic_black-3;
  }

  .optional-list__item-description {
    display: flex;
    margin-bottom: 15px;
  }

  .optional-list__item-description-text {
    font-family: $font-family-Arial;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $special_dark-grey;
  }
}
