.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin: 27px 41px 37px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $basic_black;
}

.form__description {
  margin: 0 74px 39px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic_black;
}

.form__btn {
  margin-bottom: 21px;
}

.form_text {
  font-family: $font-family-Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $basic_black;
  margin-bottom: 32px;
}
