.form-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.form-comment__title {
  margin: 0 149px 47px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $basic_black;
}
